/* Fonts  */
@font-face {
  font-family: 'Neo Sans Arabic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Sans Arabic Regular'), url('/assets/fonts/Neo Sans Arabic Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Sans Arabic Regular'), url('/assets/fonts/NeoSansArabic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic Light';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Sans Arabic Light'), url('/assets/fonts/NeoSansArabicLight.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Sans Arabic Medium'), url('/assets/fonts/NeoSansArabicMedium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Sans Arabic Bold'), url('/assets/fonts/NeoSansArabicBold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic Black';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Sans Arabic Black'), url('/assets/fonts/NeoSansArabicBlack.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Arabic Ultra';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Sans Arabic Ultra'), url('/assets/fonts/NeoSansArabicUltra.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Neo Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Sans Medium'), url('/assets/fonts/Neo_Sans_Medium.woff') format('woff');
  }
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Neo Sans Arabic Regular';
  color: #E6E6E5;
}

h1{
  font-family: 'Neo Sans Arabic Bold';
}

p{
  font-family: 'Neo Sans Arabic Medium';
}

li{
  font-family: 'Neo Sans Arabic Regular';
}

a {
  color: #E6E6E5;
  font-family: 'Neo Sans Arabic Light';
}

a:hover {
  color: #51cdbe;
  text-decoration: none;
}


#main {
  margin-top: 50px;
}

@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}
/*--------------------------------------------------------------
# Shared Style
--------------------------------------------------------------*/
.w-20{
  width: 20%;
}
.white-color{
  color: #fff;
}
.white-bg{
  background-color: #fff;
}
.purple-color{
  color: #341252;
}
.purple-bg{
  background-color: #341252;
}
.light-purple-bg{
  background-color: #751CC1;
}
.secondary-color{
  color: #E7407B;
}
.secondary-bg{
  background-color: #E7407B;
}
.font-900{
  font-weight: 900;
}
/* btns  */
.btn{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.5s;
}
.secondary-btn {
  color: #DAD6DD;
  border: 1px solid #E7407B ;
  background: #E7407B;
}
.secondary-btn:hover {
  background: #fff;
  color: #E7407B;
  border: 1px solid #E7407B ;
}
.secondary-outline-btn {
  color: #E7407B;
  border: 1px solid #E7407B ;
  background: transparent;
}
.secondary-outline-btn:hover {
  background: #E7407B;
  color: #fff;
  border: 1px solid #E7407B ;
}
.light-outline-btn {
  color: #E6E6E5;
  border: 1px solid #E6E6E5 ;
  background: transparent;
}
.light-outline-btn:hover {
  background: #E7407B;
  color: #E6E6E5;
  border: 1px solid #E7407B ;
}
/* text  */
.section-title{
  font-weight: 900;
  font-size: 40px;
  line-height: 90%;
  font-family: 'Neo Sans Arabic Bold';
}

/* general  */
.white-pink-bg{
  background: url("../img/home/white-ping-bg.png") top right;
  background-size: cover;
}
.hero-half {
  width: 100%;
  height: 50vh;
  background: url("../img/main-bg-half.png") top right;
  background-size: cover;
  position: relative;
}
.hero-half .hero-title{
  font-size: 50px;
}
.php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
/* bootstrap customize  */
.form-control{
  color: #341252;
  background-color: transparent;
}
.bootstrap-select .btn{
  padding: .375rem .75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #341252;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus,.bootstrap-select .btn:focus {
  color: #E7407B;
  font-weight: 400;
  background-color: transparent;
  border-color: #E7407B;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #e7407b;
}
.input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #341252;
  font-size: 0.8rem;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #341252;
 font-size: 0.8rem;
 opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #341252;
 font-size: 0.8rem;
 opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #341252;
 font-size: 0.8rem;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
 color:    #341252;
 font-size: 0.8rem;
}
.form-control::placeholder { /* Most modern browsers support this now. */
 color:    #341252;
 font-size: 0.8rem;
}
.custom-control-input:checked~.custom-control-label::before{
  border-color: #E7407B;
background-color: #E7407B;
}
.form-control-light:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #9B85AE;
  font-size: 0.8rem;
  opacity:  1;
 }
 .form-control-light::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #9B85AE;
  font-size: 0.8rem;
  opacity:  1;
 }
 .form-control-light:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #9B85AE;
  font-size: 0.8rem;
 }
 .form-control-light::-ms-input-placeholder { /* Microsoft Edge */
  color:    #9B85AE;
  font-size: 0.8rem;
 }
 .form-control-light::placeholder { /* Most modern browsers support this now. */
  color:    #9B85AE;
  font-size: 0.8rem;
 }
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #E7407B;
  border-top-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #E7407B;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #fff;
  color: #3dc8b7;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  background: transparent;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 25px;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #E6E6E5;
}

#header .logo img {
  width: 100%;
  height: 60px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
  align-items:center;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #E6E6E5;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #E7407B;
  visibility: hidden;
  width: 10px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #A52F69;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #E6E6E5;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #34b7a7;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 17px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #E6E6E5;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #341252;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #E6E6E5;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #34b7a7;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  padding-left: 20px;
}

.header-social-links a {
  color: #E6E6E5;
  padding-left: 6px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
  font-size: 16px;
}

.header-social-links a:hover {
  color: #34b7a7;
}

@media (max-width: 992px) {
  .header-social-links {
    padding: 0 48px 0 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero-home {
  width: 100%;
  height: 100vh;
  background: url("../img/home/hero-bg.png") top right;
  background-size: 100% 100%;
}

@media (max-width: 992px) {
  .hero .container {
    padding-top: 58px;
  }
}

.hero h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero h2 {
  color: #DAD6DD;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 215px;
}

.hero .btn-about {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.5s;
  color: #DAD6DD;
  border: 1px solid #DAD6DD ;
  background: transparent;
}

.hero .btn-about:hover {
  background: #E7407B;
  border: 1px solid #E7407B ;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  .hero:before {
    content: "";
    background: url("../img/home/hero-bg.png") top right;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# About Page
---------------------------------------------------------*/

#hero-about {
  width: 100%;
  height: 100vh;
  background: url("../img/about/hero-bg.png") top right;
  background-size: cover;
}

#hero-about h2 {
  margin-top: 160px;
}

.about-info .people-img{
  background: url("../img/about/people.png") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about-info .mission{
  background-color: #FEF6F7;
}

.about-info .vission{
  background-color: #FCE5E9;
}

/*--------------------------------------------------------------
# Qoute Page
---------------------------------------------------------*/
.qoute-wrapper{
  background-color: #FDF5F7;
}
.qoute-form{
  width: 40%;
  margin: 0 auto;
}
.qoute-form .qoute-label{
  font-weight: bold;
  font-size: 0.8rem;
  color: #341252;
}
.qoute-label-lg{
  font-size: 1rem;
  font-weight: 700;
  color: #341252;
}
.custom-control-label{
  font-size: 0.9rem;
  white-space: nowrap;
}

/* Contact Page  */
#hero-contact {
  width: 100%;
  height: 100vh;
  background: url("../img/main-bg.png") top right;
  background-size: cover;
}

#hero-contact .contact-info{
  background-color: #5B1B92;
}
.find-us{
  background-color: #D32965;
}
.find-us .location{
  border-radius: 8px;
}

/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
#clients .projects-wrapper img{
  width: 12%;
}

#products .product-img {
  background: url("../img/home/mobile.png") ;
  background-position: center;
  background-repeat: no-repeat;
  height: 69vh;
  width: 100vw;
  background-size: 100% 100%;
}

#home-contact{
  width: 100%;
  height: 50vh;
  background-color: #D32965;
}

#home-contact .text-label{
  color: #E6d1d8;
  margin-bottom: 1px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #e7f8f6;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #34b7a7;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/bg-1.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #34b7a7;
  border: 2px solid #34b7a7;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #555555;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #34b7a7;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #E6E6E5;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f3f3f3;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #34b7a7;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .counters span {
  font-size: 48px;
  display: block;
  color: #34b7a7;
}

.facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #c8efea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #34b7a7 !important;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #E6E6E5;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #34b7a7;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #1d685f;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #effbf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #34b7a7;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #34b7a7;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 10px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.services .icon-box:hover {
  background: #E7407B;
  color: #fff !important;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #341252;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .iconbox-blue i {
  color: #751CC1;
}

.services .iconbox-blue:hover .icon i, .services .iconbox-blue:hover a {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #E94F85;
}

.services .iconbox-orange i {
    color: #751CC1;

}

.services .iconbox-orange:hover .icon i,.services .iconbox-orange:hover a {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #E94F85;
}

.services .iconbox-pink i {
  color: #751CC1;
}

.services .iconbox-pink:hover .icon i,.services .iconbox-pink:hover a {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #E94F85;
}

.services .iconbox-yellow i {
  color: #751CC1;
}

.services .iconbox-yellow:hover .icon i, .services .iconbox-yellow:hover a {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #E94F85;
}

.services .iconbox-red i {
  color: #751CC1;
}

.services .iconbox-red:hover .icon i, .services .iconbox-red:hover a {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #E94F85;
}

.services .iconbox-teal i {
  color: #751CC1;
}

.services .iconbox-teal:hover .icon i, .services .iconbox-teal:hover a {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #E94F85;
}


.service-wrapper .service-title {
  margin-left: 180px;
  font-weight: 900;
}
.service-wrapper .service-box-web{
  width: 100%;
  height: 50vh;
  background: url("../img/services/1.png") top right;
  background-size: 50% 100%;
  background-position: left;
  background-repeat: no-repeat;
}

.service-wrapper .service-box .info-right{
  margin-right: 70px;
}

.service-wrapper .service-box-erp{
  width: 100%;
  height: 50vh;
  background: url("../img/services/2.png") top right;
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

.service-wrapper .service-box .info-left{
  margin-left: 70px;
}

.service-wrapper .service-box-commerce{
  width: 100%;
  height: 50vh;
  background: url("../img/services/3.png") top right;
  background-size: 50% 100%;
  background-position: left;
  background-repeat: no-repeat;
}

.service-wrapper .service-box-design{
  width: 100%;
  height: 50vh;
  background: url("../img/services/4.png") top right;
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #34b7a7;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(34, 34, 34, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #78d9cd;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding: 0;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #34b7a7 !important;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #34b7a7;
  float: left;
  width: 44px;
  height: 44px;
  background: #effbf9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #E6E6E5;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #555555;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #34b7a7;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #34b7a7;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #34b7a7;
  border: 0;
  padding: 10px 30px 12px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #3dc8b7;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #E7407B;
  padding: 30px 0;
  color: #e7f8f6;
  font-size: 14px;
  text-align: center;
}

/* NOT a Robot Start */
.captcha-wrapper{
  width: 65%;
}
.captcha {
	background-color:#f9f9f9;
	border:2px solid #d3d3d3;
	border-radius:5px;
	color:#4c4a4b;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

@media screen and (max-width: 500px) {
	.captcha {
		flex-direction:column;
	}
	.text {
		margin:.5em!important;
		text-align:center;
	}
	.logo {
		align-self: center!important;
	}
	.spinner {
		margin:2em .5em .5em .5em!important;
	}
}

.text {
	font-size:1em;
	font-weight:normal;
	margin-right:7em;
}
.spinner {
	position:relative;
	width:1.1em;
	height:1.1em;
	display:flex;
	margin:2em 1em;
	align-items:center;
	justify-content:center;
}
input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
input[type="checkbox"]+.checkmark {
	display:inline-block;
	width:1.2em;
	height:1.2em;
  margin-top: 0.5em;
	background-color:#fcfcfc;
	border:2.5px solid #c3c3c3;
	border-radius:3px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}
input[type="checkbox"]+.checkmark span {
	content:'';
	position:relative;
	margin-top:-3px;
	transform:rotate(45deg);
	width:.75em;
	height:1.2em;
	opacity:0;
}
input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}
input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}
input[type="checkbox"]:checked+.checkmark { 
	animation:2s spin forwards;
}
input[type="checkbox"]:checked+.checkmark>span { 
	animation:1s fadein 1.9s forwards;
}
input[type="checkbox"]:checked+.checkmark>span:after {animation:.3s bottomslide 2s forwards;}
input[type="checkbox"]:checked+.checkmark>span:before {animation:.5s rightslide 2.2s forwards;}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes bottomslide {
	0% {width:0;}
	100% {width:100%;}
}
@keyframes rightslide {
	0% {height:0;}
	100% {height:100%;}
}
.logo {
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	margin:0 0.5em;
}
.logo img {
	height:1.3em;
	width:1.3em;
}
.logo p {
	color:#9d9ba7;
	margin:0;
	font-size:0.5em;
	font-weight:700;
	margin:.4em 0 .2em 0;
}
.logo small {
	color:#9d9ba7;
	margin:0;
	font-size:.6em;
}
@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}
::selection {
	background-color:transparent;
	color:teal;
}
::-moz-selection {
	background-color:transparent;
	color:teal;
}

/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/

.products-wrapper img {
  width: 90%;
}

.products-wrapper .info , li {
  line-height: 30px;
  font-weight: 500;
}

.products-wrapper .social-btns .btn{
  color: #fff;
}
.products-wrapper .social-btns p{
  font-family: 'Neo Sans Arabic Light';
  font-size: 0.6rem;
}
.products-wrapper .social-btns .big-txt{
  font-family: 'Neo Sans Arabic Regular';
  font-size: 0.8rem;
}
.products-wrapper .social-btns i{
  font-size: 1.2rem;
}

.carousel-arrow{
  font-size: 1.5rem;
  margin: 10px 4px 0px 4px;
  background-color: #FCE5E9;
  padding: 4%;
  color: #E7407B;
}